<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img onerror="this.src='/assets/img/default_profile.png'" src={{page.img_url}}>
            </a>
            <div class="content">
                <!-- Post author -->
                <a class="header">{{page.author}}</a>
                <div class="description">
                    <p>{{page.author_desc}}</p>
                    {% if page.email %}
                        <a href="https://www.google.com">{{page.email}}<a/>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
</div>
