<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img onerror="this.src='/assets/img/default_profile.png'" src={{page.img_url}}>
            </a>
            <div class="content">
                <!-- Post author -->
                <a class="header">{{page.author}}</a>
                <div class="description">
                    <p>{{page.author_desc}}</p>
                    {% if page.github %}
                    <a class="item" href="https://{{page.github}}">
                            <i class="github link icon"></i>
                    </a>
                    {% endif %}
                    {% if page.email %} 
                    <a class="item" href="mailto:abc@example.com?subject = Feedback&body = Message">
                            <i class="mail link icon"></i>
                    </a>
                    {% endif %}
                    {% if page.twitter %}
                    <a class="item" href="https://{{page.twitter}}">
                            <i class="twitter link icon"></i>
                    </a>
                    {% endif %}
                    {% if page.instagram %}
                    <a class="item" href="https://{{page.instagram}}">
                            <i class="instagram link icon"></i>
                    </a>
                    {% endif %}
                    {% if page.facebook %}
                    <a class="item" href="https://{{page.facebook}}">
                            <i class="facebook link icon"></i>
                    </a>
                    {% endif %}
                    {% if page.linkedin %}
                    <a class="item" href="https://{{page.linkedin}}">
                            <i class="linkedin link icon"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
