@media all and (max-width: 890px) {
    #head-search {
        display: none;
    }
    .site-logo {
        height: 250px;
    }
}


@media all and (max-width: 600px) {
    header {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .right.menu {
        display: none !important;
    }

    .right.menu.footer.links {
        display: flex !important;
        font-size: 0.8em;
    }

    header {
        max-width: 95%;
    }

    .site-logo {
        max-width: 30%;
        height: 200px;
    }

    main {
        max-width: 95%;
    }
}
